.main {
  display: flex;
}

.sidebar {
  width: 400px;
  background-color: #c5c8c9;
  padding: 20px;
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  padding: 20px;
}

/* Add styles for the header in Page component */
.content h2 {
  color: red;
}

.content p {
  line-height: 1.5;
}

/* Styles for cards in Page component */
.card {
  flex: 0 1 calc(50% - 20px); /* Adjust card size to have two cards in one row */
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
